body {
    font-family: Arial, sans-serif;
    background-color: #f7faff; /* Cor de fundo ajustada */
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px; /* Limita a largura máxima do container */
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com opacidade */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
}

.left-panel, .right-panel {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-panel {
    flex: 2; /* Ocupa 2/3 da tela */
    background-color: #f7faff; /* Cor de fundo da caixa de texto ajustada */
    margin-right: 20px; /* Aumenta o distanciamento entre os painéis */
}

.right-panel {
    flex: 1; /* Ocupa 1/3 da tela */
    background-color: #f9fafb;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel .content {
    text-align: center;
}

.right-panel img {
    width: 80%; /* Aumenta o tamanho da imagem para 80% da largura do painel */
    max-width: 300px; /* Define uma largura máxima para manter a proporção */
    margin-bottom: 20px;
}

.right-panel h1,
.right-panel div {
    margin: 0;
    font-size: 24px;
    color: #333;
    white-space: pre-wrap; /* Preserva as quebras de linha e espaços */
    word-wrap: break-word; /* Quebra palavras longas */
}

.input-area {
    margin-bottom: 20px;
}

.input-area textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    background-color: #f7faff; /* Cor de fundo da caixa de texto ajustada */
    color: #333;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons .encrypt {
    background-color: #2c3e50;
    color: #fff;
}

.buttons .decrypt {
    background-color: #bdc3c7;
    color: #333;
}

.copy {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #bdc3c7;
    color: #333;
    display: none; /* Oculta o botão inicialmente */
}

.note {
    font-size: 12px;
    color: #888;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    width: 100%;
    text-align: center;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Muda a direção dos painéis para coluna em telas menores */
        height: auto;
    }

    .left-panel {
        margin-right: 0; /* Remove o espaçamento à direita */
        margin-bottom: 20px; /* Adiciona espaçamento inferior para separar os painéis */
    }

    .buttons {
        flex-direction: column; /* Muda a direção dos botões para coluna em telas menores */
    }

    .buttons button {
        margin-bottom: 10px; /* Adiciona espaçamento inferior entre os botões */
    }

    .right-panel img {
        display: none; /* Oculta a imagem em telas menores */
    }

    .right-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
